.main-menu .navbar-nav .nav-link {
    font-weight: bold;
}

.logo
{
    text-align: right;
}

    .info-content-area .section-title h2:before{
        border-right: 5px solid #0099F7;
        border-left:unset;
    }

          .info-content-area .section-title h2{
        padding-right: 35px;
    } 




    .breadcroumb-area .breadcroumb-title h1:before{
        border-right: 5px solid #0099F7;
        border-left:unset;
    }

          .breadcroumb-area .breadcroumb-title h1{
        padding-right: 35px;
    } 




    .info-content-area p.highlight:before {
        left: unset;
        border-left:unset;
    }

    .info-content-area p.highlight {
            padding-right: 35px;
            padding-left: unset;
    }

    .info-content-area p.highlight:before {
        right: 0px;
    }

.about-area .text {
    border-right: 5px solid #eee;
    padding-right: 35px;
    border-left: unset;
    padding-left: unset;
}

.ml-auto-ar {
    margin-right: auto ! important;
     margin-left: unset ! important;
}

.styled-faq .panel .panel-heading h6 a i.fa{
        float: left ! important;
}

@media only screen and (max-width: 767px)
{
    .navbar-toggler 
    {
        left: 0;
        right: unset;
    }


}

@media only screen and (min-width: 768px) and (max-width: 991px)
{
    .navbar-toggler 
    {
        left: 0;
        right: unset;
    }


}
